body{
    background-color: rgb(255, 47, 64);
}

/* grid */

#grid{
    height: 700px;
    width: 700px;
    animation: fallDown .2s linear;
    user-select: none;
}

.cell{
    border: 2px solid white;
    color: white;
    height: calc(100% / 10);
    width: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* utils */

.cell.clicked{
    background-color: blue;
}

.cell.hw-9{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.cell.hw-7{
    height: calc(100% / 7);
    width: calc(100% / 7);
}

/* animations */

@keyframes fallDown {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}